

    
    <!-- banner-section -->
    <section class="banner-section">
        <div class="pattern-box">
            <div class="pattern-1 wow slideInDown" data-wow-delay="500ms" data-wow-duration="1500ms" style="background-image: url(<%= asset_path('theme/shape/pattern-1.png') %>" ></div>
            <div class="pattern-2" style="background-image: url(<%= asset_path('theme/shape/pattern-2.png') %>" ></div>
        </div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div class="content-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <h1>Data Analytics Techniques with <span class="animation_text_word">SLapp Data</span> Systems.</h1>
                        <p>Detox's real-time data management technologies, global data marketplaces, and award-winning customer service make our unstacked data solutions.</p>
                        <div class="btn-box">
                            <a href="index.html" class="theme-btn style-one">Learn More</a>
                            <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image video-btn" data-caption=""><i class="flaticon-play"></i>Watch Video</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="image-box wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image image-1"><%= image_tag("theme/banner/banner-1.png", alt: "") %></figure>
                        <figure class="image image-2 float-bob-y"><%= image_tag("theme/banner/banner-2.png", alt: "") %></figure>
                        <figure class="image image-3 wow slideInDown" data-wow-delay="500ms" data-wow-duration="1500ms"><%= image_tag("theme/banner/banner-5.png", alt: "") %></figure>
                        <figure class="image image-4"><%= image_tag("theme/banner/banner-3.png", alt: "") %></figure>
                        <figure class="image image-5 rotate-me"><%= image_tag("theme/banner/banner-4.png", alt: "") %></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->


    <!-- feature-section -->
    <section class="feature-section">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-one wow flipInY" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box js-tilt">
                            <div class="icon-box">
                                <div class="anim-icon">
                                    <span class="icon icon-1"></span>
                                    <span class="icon icon-2"></span>
                                    <span class="icon icon-3"></span>
                                </div>
                                <i class="flaticon-tools-and-utensils"></i>
                            </div>
                            <h3><a href="index.html">Data Monetization</a></h3>
                            <p>Lorem ipsum dolor amet consectetur adipisicing  sed do eiusmod tempor.</p>
                            <div class="btn-box"><a href="index.html" class="theme-btn style-two">Learn More</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-one wow flipInY" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box js-tilt">
                            <div class="icon-box">
                                <div class="anim-icon">
                                    <span class="icon icon-1"></span>
                                    <span class="icon icon-2"></span>
                                    <span class="icon icon-3"></span>
                                </div>
                                <i class="flaticon-checked"></i>
                            </div>
                            <h3><a href="index.html">Manage Analytics</a></h3>
                            <p>Lorem ipsum dolor amet consectetur adipisicing  sed do eiusmod tempor.</p>
                            <div class="btn-box"><a href="index.html" class="theme-btn style-two">Learn More</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-one wow flipInY" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box js-tilt">
                            <div class="icon-box">
                                <div class="anim-icon">
                                    <span class="icon icon-1"></span>
                                    <span class="icon icon-2"></span>
                                    <span class="icon icon-3"></span>
                                </div>
                                <i class="flaticon-pie-chart"></i>
                            </div>
                            <h3><a href="index.html">Business Intelligence</a></h3>
                            <p>Lorem ipsum dolor amet consectetur adipisicing  sed do eiusmod tempor.</p>
                            <div class="btn-box"><a href="index.html" class="theme-btn style-two">Learn More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature-section end -->


    <!-- about-section -->
    <section class="about-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                    <div id="image_block_01">
                        <div class="image-box wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <figure class="image js-tilt"><%= image_tag("theme/resource/illustration-2.png", alt: "") %></figure>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                    <div id="content_block_01">
                        <div class="content-box">
                            <div class="sec-title wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <p>About Detox</p>
                                <h2>Detox Provides Realtime Data Solutions.</h2>
                            </div>
                            <div class="text wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <p>Dolor sit amet consectetur elit sed eiusmod tempor incidi dunt labore  dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo consequat.duis aute irure dolor in reprehenderit.</p>
                            </div>
                            <ul class="list-item clearfix wow slideInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                                <li>Various Analysis Options</li>
                                <li>Page Load Details (time, size, number of requests)</li>
                                <li>Waterfall, Video and Report History</li>
                            </ul>
                            <div class="btn-box wow slideInUp" data-wow-delay="900ms" data-wow-duration="1500ms"><a href="about.html" class="theme-btn style-one">Read More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-section end -->


    <!-- process-section -->
    <section class="process-section bg-color-1">
        <div class="pattern-box">
            <div class="pattern-1 wow slideInDown animated" data-wow-delay="500ms" data-wow-duration="1500ms" style="background-image: url(<%= asset_path('theme/shape/pattern-3.png') %>"></div>
        </div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                    <div id="content_block_02">
                        <div class="content-box">
                            <div class="sec-title wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <p>How it Works</p>
                                <h2>How Dotex Works?</h2>
                            </div>
                            <div class="text wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <p>Dolor sit amet consectetur elit sed eiusmod tempor incidi dunt labore  dolore magna aliqua enim ad minim veniam quis nostrud.</p>
                            </div>
                            <div class="inner-box wow slideInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                                <div class="single-item">
                                    <div class="count-box">1</div>
                                    <h3><a href="index.html">Data for All Your People</a></h3>
                                    <div class="text">Dolor sit amet consectetur elit eiusmod tempor incidi dunt labore  dolore magna aliqua enim.</div>
                                </div>
                                <div class="single-item">
                                    <div class="count-box">2</div>
                                    <h3><a href="index.html">A New Breed of AI</a></h3>
                                    <div class="text">Dolor sit amet consectetur elit eiusmod tempor incidi dunt labore  dolore magna aliqua enim.</div>
                                </div>
                                <div class="single-item">
                                    <div class="count-box">3</div>
                                    <h3><a href="index.html">Analytics Business</a></h3>
                                    <div class="text">Dolor sit amet consectetur elit eiusmod tempor incidi dunt labore  dolore magna aliqua enim.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                    <div id="image_block_02">
                        <div class="image-box wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <figure class="image js-tilt"><%= image_tag("theme/resource/illustration-3.png", alt: "") %></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- process-section end -->


    <!-- service-section -->
    <section class="service-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <p>Best Services</p>
                <h2>Explore Our Data<br />Services</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-file"></i></div>
                            <h3><a href="service.html">Big Data Consulting</a></h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-machine-learning"></i></div>
                            <h3><a href="service.html">Machine Learning</a></h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-data-analytics"></i></div>
                            <h3><a href="service.html">Data Analytics</a></h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-laptop"></i></div>
                            <h3><a href="service.html">Computer Vision</a></h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-data-integration"></i></div>
                            <h3><a href="service.html">Internet Of Things</a></h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-robot"></i></div>
                            <h3><a href="service.html">Artificial Intelligence</a></h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-section end -->


    <!-- testimonial-section -->
    <section class="testimonial-section">
        <div class="pattern-box">
            <div class="pattern-1 wow slideInLeft animated" data-wow-delay="500ms" data-wow-duration="1500ms" style="background-image: url(<%= asset_path('theme/shape/pattern-4.png') %>"></div>
            <div class="pattern-2" style="background-image: url(<%= asset_path('theme/shape/pattern-2.png') %>"></div>
        </div>
        <div class="auto-container">
            <div class="testimonial-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                        <div class="testimonial-inner">
                            <div class="row align-items-center clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image-box"><%= image_tag("theme/resource/testimonial-1.jpg", alt: "") %></figure>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                                    <div class="content-box">
                                        <div class="sec-title">
                                            <p>Testimonials</p>
                                            <h2>What Clients Say?</h2>
                                        </div>
                                        <div class="icon-box"><i class="flaticon-left-quotes-sign"></i></div>
                                        <div class="text">
                                            <h5>Lorem ipsum dolor sit amet consectetur adipicing elit sed do usmod tempor incididunt.enim minim veniam quis nostrud exer citation laboris nisi aliqu commodo perspicia.</h5>
                                        </div>
                                        <div class="author-info">
                                            <h3>Nicolas Lawson</h3>
                                            <span class="designation">Designer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                        <div class="testimonial-inner">
                            <div class="row align-items-center clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image-box"><%= image_tag("theme/resource/testimonial-1.jpg", alt: "") %></figure>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                                    <div class="content-box">
                                        <div class="sec-title">
                                            <p>Testimonials</p>
                                            <h2>What Clients Say?</h2>
                                        </div>
                                        <div class="icon-box"><i class="flaticon-left-quotes-sign"></i></div>
                                        <div class="text">
                                            <h5>Lorem ipsum dolor sit amet consectetur adipicing elit sed do usmod tempor incididunt.enim minim veniam quis nostrud exer citation laboris nisi aliqu commodo perspicia.</h5>
                                        </div>
                                        <div class="author-info">
                                            <h3>Nicolas Lawson</h3>
                                            <span class="designation">Designer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                        <div class="testimonial-inner">
                            <div class="row align-items-center clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image-box"><%= image_tag("theme/resource/testimonial-1.jpg", alt: "") %></figure>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                                    <div class="content-box">
                                        <div class="sec-title">
                                            <p>Testimonials</p>
                                            <h2>What Clients Say?</h2>
                                        </div>
                                        <div class="icon-box"><i class="flaticon-left-quotes-sign"></i></div>
                                        <div class="text">
                                            <h5>Lorem ipsum dolor sit amet consectetur adipicing elit sed do usmod tempor incididunt.enim minim veniam quis nostrud exer citation laboris nisi aliqu commodo perspicia.</h5>
                                        </div>
                                        <div class="author-info">
                                            <h3>Nicolas Lawson</h3>
                                            <span class="designation">Designer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial-section end -->


    <!-- project-section -->
    <section class="project-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <p>Recent Projects</p>
                <h2>Check Some of Our<br />Recent Work.</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box">
                                    <%= image_tag("theme/gallery/project-1.jpg", alt: "") %>
                                </figure>
                                <a href="assets/images/gallery/project-1.jpg" class="lightbox-image view-btn" data-fancybox="gallery"><i class="fas fa-search-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="portfolio-details.html">Data Research</a></h3>
                                <span>UX Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box">
                                    <%= image_tag("theme/gallery/project-2.jpg", alt: "") %>
                                </figure>
                                <a href="assets/images/gallery/project-2.jpg" class="lightbox-image view-btn" data-fancybox="gallery"><i class="fas fa-search-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="portfolio-details.html">Content Marketing</a></h3>
                                <span>UX Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box">
                                    <%= image_tag("theme/gallery/project-3.jpg", alt: "") %>
                                </figure>
                                <a href="assets/images/gallery/project-3.jpg" class="lightbox-image view-btn" data-fancybox="gallery"><i class="fas fa-search-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="portfolio-details.html">Digital Research</a></h3>
                                <span>UX Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box">
                                    <%= image_tag("theme/gallery/project-4.jpg", alt: "") %>
                                </figure>
                                <a href="assets/images/gallery/project-4.jpg" class="lightbox-image view-btn" data-fancybox="gallery"><i class="fas fa-search-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="portfolio-details.html">Product Design</a></h3>
                                <span>UX Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box">
                                    <%= image_tag("theme/gallery/project-5.jpg", alt: "") %>
                                </figure>
                                <a href="assets/images/gallery/project-5.jpg" class="lightbox-image view-btn" data-fancybox="gallery"><i class="fas fa-search-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="portfolio-details.html">Marketplace System</a></h3>
                                <span>UX Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box">
                                    <%= image_tag("theme/gallery/project-6.jpg", alt: "") %>
                                </figure>
                                <a href="assets/images/gallery/project-6.jpg" class="lightbox-image view-btn" data-fancybox="gallery"><i class="fas fa-search-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="portfolio-details.html">Product Development</a></h3>
                                <span>UX Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project-section end -->


    <!-- clients-section -->
    <section class="clients-section bg-color-1">
        <div class="auto-container">
            <div class="clients-carousel-1 owl-carousel owl-theme owl-dots-none owl-nav-none">
                <figure class="clients-logo"><a href="index.html"><%= image_tag("theme/clients/logo-1.png", alt: "") %></a></figure>
                <figure class="clients-logo"><a href="index.html"><%= image_tag("theme/clients/logo-2.png", alt: "") %></a></figure>
                <figure class="clients-logo"><a href="index.html"><%= image_tag("theme/clients/logo-3.png", alt: "") %></a></figure>
                <figure class="clients-logo"><a href="index.html"><%= image_tag("theme/clients/logo-4.png", alt: "") %></a></figure>
                <figure class="clients-logo"><a href="index.html"><%= image_tag("theme/clients/logo-5.png", alt: "") %></a></figure>
            </div>
            <div class="clients-carousel-2 owl-carousel owl-theme owl-dots-none owl-nav-none">
                <figure class="clients-logo"><a href="index.html"><%= image_tag("theme/clients/logo-6.png", alt: "") %></a></figure>
                <figure class="clients-logo"><a href="index.html"><%= image_tag("theme/clients/logo-7.png", alt: "") %></a></figure>
                <figure class="clients-logo"><a href="index.html"><%= image_tag("theme/clients/logo-8.png", alt: "") %></a></figure>
                <figure class="clients-logo"><a href="index.html"><%= image_tag("theme/clients/logo-9.png", alt: "") %></a></figure>
            </div>
        </div>
    </section>
    <!-- clients-section end -->


    <!-- pricing-section -->
    <section class="pricing-section">
        <div class="pattern-layer wow slideInRight animated" data-wow-delay="500ms" data-wow-duration="1500ms" style="background-image: url(<%= asset_path('theme/shape/pattern-6.png') %>"></div>
        <div class="auto-container">
            <div class="sec-title">
                <p>Pricing Table</p>
                <h2>Affordable Price</h2>
            </div>
            <div class="tabs-box">
                <div class="upper-box clearfix">
                    <div class="text pull-left">
                        <p>Dolor sit amet consectetur elit sed eiusmod tempor incidi dunt labore  dolore magna aliqua enim ad minim veniam quis nostrud.</p>
                    </div>
                    <div class="tab-btn-box pull-right">
                        <ul class="tab-btns tab-buttons clearfix">
                            <li class="tab-btn active-btn" data-tab="#tab-1">Monthly</li>
                            <li class="tab-btn" data-tab="#tab-2">Yearly</li>
                        </ul>
                    </div>
                </div>
                <div class="tabs-content">
                    <div class="tab active-tab" id="tab-1">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                                <div class="pricing-block-one">
                                    <div class="pricing-table js-tilt">
                                        <div class="pattern-box" style="background-image: url(<%= asset_path('theme/shape/pattern-5.png') %>" ></div>
                                        <div class="table-header">
                                            <h5>Basic Plan</h5>
                                            <h2>$20.00</h2>
                                            <a href="index.html">Get 20 days free trial</a>
                                        </div>
                                        <div class="table-content">
                                            <ul> 
                                                <li><i class="flaticon-verified"></i>Unlimited campaigns</li>
                                                <li><i class="flaticon-verified"></i>Basic donor data</li>
                                                <li><i class="flaticon-verified"></i>Team fundraising</li>
                                                <li><i class="flaticon-verified"></i>Customizable emails</li>
                                                <li><i class="flaticon-verified"></i>Complex programs</li>
                                            </ul>
                                        </div>
                                        <div class="table-footer">
                                            <a href="index.html" class="theme-btn style-two">Select Plan</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                                <div class="pricing-block-one active_block">
                                    <div class="pricing-table js-tilt">
                                        <div class="pattern-box" style="background-image: url(<%= asset_path('theme/shape/pattern-5.png') %>" ></div>
                                        <div class="table-header">
                                            <h5>Standard Plan</h5>
                                            <h2>$30.00</h2>
                                            <a href="index.html">Get 20 days free trial</a>
                                        </div>
                                        <div class="table-content">
                                            <ul> 
                                                <li><i class="flaticon-verified"></i>Unlimited campaigns</li>
                                                <li><i class="flaticon-verified"></i>Basic donor data</li>
                                                <li><i class="flaticon-verified"></i>Team fundraising</li>
                                                <li><i class="flaticon-verified"></i>Customizable emails</li>
                                                <li><i class="flaticon-verified"></i>Complex programs</li>
                                            </ul>
                                        </div>
                                        <div class="table-footer">
                                            <a href="index.html" class="theme-btn style-two">Select Plan</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                                <div class="pricing-block-one">
                                    <div class="pricing-table js-tilt">
                                        <div class="pattern-box" style="background-image: url(<%= asset_path('theme/shape/pattern-5.png') %>" ></div>
                                        <div class="table-header">
                                            <h5>Premium Plan</h5>
                                            <h2>$50.00</h2>
                                            <a href="index.html">Get 20 days free trial</a>
                                        </div>
                                        <div class="table-content">
                                            <ul> 
                                                <li><i class="flaticon-verified"></i>Unlimited campaigns</li>
                                                <li><i class="flaticon-verified"></i>Basic donor data</li>
                                                <li><i class="flaticon-verified"></i>Team fundraising</li>
                                                <li><i class="flaticon-verified"></i>Customizable emails</li>
                                                <li><i class="flaticon-verified"></i>Complex programs</li>
                                            </ul>
                                        </div>
                                        <div class="table-footer">
                                            <a href="index.html" class="theme-btn style-two">Select Plan</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab" id="tab-2">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                                <div class="pricing-block-one">
                                    <div class="pricing-table js-tilt">
                                        <div class="pattern-box" style="background-image: url(<%= asset_path('theme/shape/pattern-5.png') %>" ></div>
                                        <div class="table-header">
                                            <h5>Basic Plan</h5>
                                            <h2>$50.00</h2>
                                            <a href="index.html">Get 20 days free trial</a>
                                        </div>
                                        <div class="table-content">
                                            <ul> 
                                                <li><i class="flaticon-verified"></i>Unlimited campaigns</li>
                                                <li><i class="flaticon-verified"></i>Basic donor data</li>
                                                <li><i class="flaticon-verified"></i>Team fundraising</li>
                                                <li><i class="flaticon-verified"></i>Customizable emails</li>
                                                <li><i class="flaticon-verified"></i>Complex programs</li>
                                            </ul>
                                        </div>
                                        <div class="table-footer">
                                            <a href="index.html" class="theme-btn style-two">Select Plan</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                                <div class="pricing-block-one active_block">
                                    <div class="pricing-table js-tilt">
                                        <div class="pattern-box" style="background-image: url(<%= asset_path('theme/shape/pattern-5.png') %>" ></div>
                                        <div class="table-header">
                                            <h5>Standard Plan</h5>
                                            <h2>$70.00</h2>
                                            <a href="index.html">Get 20 days free trial</a>
                                        </div>
                                        <div class="table-content">
                                            <ul> 
                                                <li><i class="flaticon-verified"></i>Unlimited campaigns</li>
                                                <li><i class="flaticon-verified"></i>Basic donor data</li>
                                                <li><i class="flaticon-verified"></i>Team fundraising</li>
                                                <li><i class="flaticon-verified"></i>Customizable emails</li>
                                                <li><i class="flaticon-verified"></i>Complex programs</li>
                                            </ul>
                                        </div>
                                        <div class="table-footer">
                                            <a href="index.html" class="theme-btn style-two">Select Plan</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                                <div class="pricing-block-one">
                                    <div class="pricing-table js-tilt">
                                        <div class="pattern-box" style="background-image: url(<%= asset_path('theme/shape/pattern-5.png') %>" ></div>
                                        <div class="table-header">
                                            <h5>Premium Plan</h5>
                                            <h2>$90.00</h2>
                                            <a href="index.html">Get 20 days free trial</a>
                                        </div>
                                        <div class="table-content">
                                            <ul> 
                                                <li><i class="flaticon-verified"></i>Unlimited campaigns</li>
                                                <li><i class="flaticon-verified"></i>Basic donor data</li>
                                                <li><i class="flaticon-verified"></i>Team fundraising</li>
                                                <li><i class="flaticon-verified"></i>Customizable emails</li>
                                                <li><i class="flaticon-verified"></i>Complex programs</li>
                                            </ul>
                                        </div>
                                        <div class="table-footer">
                                            <a href="index.html" class="theme-btn style-two">Select Plan</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- pricing-section end -->


    <!-- news-section -->
    <section class="news-section">
        <div class="pattern-layer wow slideInRight animated" data-wow-delay="500ms" data-wow-duration="1500ms" style="background-image: url(<%= asset_path('theme/shape/pattern-2.png') %>"></div>
        <div class="auto-container">
            <div class="sec-title text-center">
                <p>Recent Article</p>
                <h2>Stay Update with Detox</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box"><%= image_tag("theme/news/news-1.jpg", alt: "") %></figure>
                                <div class="post-date"><i class="fas fa-calendar-alt"></i><p>Dec 23</p></div>
                                <div class="link"><a href="blog-details.html"><i class="fas fa-arrow-right"></i></a></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li><span>by</span>&nbsp;<a href="index.html">Nicolas</a></li>
                                    <li><a href="index.html">3 Comments</a></li>
                                </ul>
                                <h3><a href="blog-details.html">How to become a sucess- ful businessman.</a></h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt labore.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box"><%= image_tag("theme/news/news-2.jpg", alt: "") %></figure>
                                <div class="post-date"><i class="fas fa-calendar-alt"></i><p>Dec 22</p></div>
                                <div class="link"><a href="blog-details.html"><i class="fas fa-arrow-right"></i></a></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li><span>by</span>&nbsp;<a href="index.html">Hinter</a></li>
                                    <li><a href="index.html">5 Comments</a></li>
                                </ul>
                                <h3><a href="blog-details.html">Services that will Grow Your Business for you!</a></h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt labore.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box"><%= image_tag("theme/news/news-3.jpg", alt: "") %></figure>
                                <div class="post-date"><i class="fas fa-calendar-alt"></i><p>Dec 21</p></div>
                                <div class="link"><a href="blog-details.html"><i class="fas fa-arrow-right"></i></a></div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li><span>by</span>&nbsp;<a href="index.html">Tailor</a></li>
                                    <li><a href="index.html">4 Comments</a></li>
                                </ul>
                                <h3><a href="blog-details.html">Online Trends That Have Gone Stale.</a></h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt labore.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- news-section end -->


    <!-- cta-section -->
    <section class="cta-section bg-color-2">
        <div class="pattern-box">
            <div class="pattern-1" style="background-image: url(<%= asset_path('theme/shape/pattern-7.png') %>" ></div>
            <div class="pattern-2" style="background-image: url(<%= asset_path('theme/shape/pattern-8.png') %>" ></div>
        </div>
        <div class="auto-container">
            <div class="content-box text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <h2>Get Ready to Started It’s Fast, Free & Very Easy</h2>
                <a href="index.html" class="theme-btn style-three">Learn More</a>
            </div>
        </div>
    </section>
    <!-- cta-sectione end -->


    <!-- main-footer -->
    <footer class="main-footer">
        <div class="auto-container">
            <div class="footer-top">
                <div class="widget-section wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget logo-widget">
                                <figure class="footer-logo"><a href="index.html"><%= image_tag("theme/footer-logo.png", alt: "") %></a></figure>
                                <div class="text">
                                    <p>Lorem ipsum dolor amet consectetur adipielit sed eiusm tempor incididunt ut labore dolore.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Quick Link</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="index.html">Company History</a></li>
                                        <li><a href="index.html">About Us</a></li>
                                        <li><a href="index.html">Contact Us</a></li>
                                        <li><a href="index.html">Services</a></li>
                                        <li><a href="index.html">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Services</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="index.html">Company History</a></li>
                                        <li><a href="index.html">About Us</a></li>
                                        <li><a href="index.html">Contact Us</a></li>
                                        <li><a href="index.html">Services</a></li>
                                        <li><a href="index.html">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget">
                                <div class="widget-title">
                                    <h3>Contact Info</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li>Flat 20, Reynolds Neck, North Hele naville, FV77 8WS</li>
                                        <li><a href="tel:23055873407">+2(305) 587-3407</a></li>
                                        <li><a href="mailto:info@example.com">info@example.com</a></li>
                                    </ul>
                                </div>
                                <ul class="social-links clearfix">
                                    <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="index.html"><i class="fab fa-vimeo-v"></i></a></li>
                                    <li><a href="index.html"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom clearfix">
                <div class="copyright pull-left">
                    <p><a href="index.html">Detox</a> &copy; 2020 All Right Reserved</p>
                </div>
                <ul class="footer-nav pull-right">
                    <li><a href="index.html">Terms of Service</a></li>
                    <li><a href="index.html">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </footer>