<!DOCTYPE html>
<html>
  <head>
    <title>SlApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon(:init => true) %>
    <%= Gon::Base.render_data({}) %>
    
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script>
// $(document).ready ( function () {
//     $("a").click(function () {
//       alert("test");
//     });
// });
  </script>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <%= render 'shared/header' %>
    <%= yield %>
          <script>

  </script>
  </body>
  

</html>
